html,
body {
  font-family: Arial, sans-serif;
  display: flex;
  margin: 0;
  padding: 0;
}

.flex-container {
  display: -webkit-flex;
  display: flex;
  flex:1;
  width: auto;
  height: auto;
}

.flex-item {
  width:auto;
  height: auto;
  margin: 5px;
}

li {
  height: 20px;
  list-style: none;
}

ul {
  margin-top: 0;
}

input[type="button"] {
  background-color: #e85113;
  color: white;

}

#favspot {
  margin-bottom: 0;
}

input {
  font-size: 12px;
}

h1 {
  color: #525454;
  font-size: 22px;
  margin: 0 0 10px 0;
  text-align: center;
}

#hide-listings,
#show-listings {
  width: 48%;
}

hr {
  background: #D0D7D9;
  height: 1px;
  margin: 20px 0 20px 0;
  border: none;
}


#map {
  top: 10px;
  bottom:10px;
  height: 100%;
  left: 425px;
  position: absolute;
  right: 10px;

}

#options-box {
  background: #fff;
  border: 1px solid #999;
  border-radius: 3px;
  height: 100%;
  line-height: 35px;
  padding: 10px 10px 30px 10px;
  text-align: left;
  width: auto;
}

#pictbin {
  height:200px;
}



#pano {
  width: 200px;
  height: 200px;
}

#places-search,
#search-within-time-text {
  width: 84%;
}

.text {
  font-size: 12px;
}

#toggle-drawing {
  width: 27%;
  position: relative;
  margin-left: 10px;
}

#zoom-to-area-text {
  width: 70%;
}

#zoom-to-area {
  width: 24%;
}
